<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.stu.luanvanmxhhippo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hippo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hippo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuanvanMXHHippo"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChangeLanguageActivity"></activity>
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".GroupPostOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddParticipantGroupPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupPostEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupChatRelayCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupPostCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupPostImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupPostVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupPostPostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupPostCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseHobbyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReplyCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerificationEmailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".OpenImagenActivity" />
        <activity
            android:name=".MessageInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupParticipantAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FogotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OutgoingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoProfileFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IncomingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FollowersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="vn.edu.stu.Firebase.MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
    </application>

</manifest>