<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.stu.luanvanmxhhippo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuanvanMXHHippo"
        android:usesCleartextTraffic="true">
        <activity android:name=".GroupEditActivity"></activity>
        <activity android:name=".GroupInfoActivity" />
        <activity android:name=".GroupParticipantAddActivity" />
        <activity android:name=".GroupCreateActivity" />
        <activity android:name=".GroupChatActivity" />
        <activity android:name=".PostVideoActivity" />
        <activity android:name=".PostImageActivity" />
        <activity android:name=".FogotPasswordActivity" />
        <activity android:name=".StoryActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".OutgoingInvitationActivity" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".InfoProfileFriendActivity" />
        <activity android:name=".IncomingInvitationActivity" />
        <activity android:name=".FollowersActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".ChatManagerActivity" />
        <activity android:name=".AddStoryActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service android:name="vn.edu.stu.Firebase.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="vn.edu.stu.luanvanmxhhippo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />

        </provider>

    </application>

</manifest>